
config cfg
	option bind_addr '0.0.0.0'
	option bind_port '5354'
	option chnroute '/etc/cleandns_chnroute.txt'
	option china_ip '203.208.32.0/24'
	option foreign_ip '218.189.25.0/24'
	option dns_server '8.8.8.8:53,114.114.114.114'
	option compression '1'
	option pid_file '/var/run/cleandns.pid'
	option timeout '5'
	option log_level '5'

